.todo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.65rem;
  background-color: var(--color-bg);
  border-radius: 0.5rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.text {
  flex: 1 1 auto;
  height: 100%;
  color: var(--color-text);
}

.button {
  border: none;
  outline: none;
  background-color: var(--color-accent);
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
