.form {
  display: flex;
  padding: 1rem;
}

.input {
  flex: 1 0 auto;
  border: none;
  outline: none;
  padding: 0.5rem 0.25rem;
  background-color: var(--color-bg-highlight);
}

.input::placeholder {
  text-align: center;
}

.button {
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  border: none;
  outline: none;
}

.button:hover {
  filter: brightness(125%);
}
